@import './variables.scss';
/*
  General
*/
body {
  background-color: $black;
  color: $white;
}
h1, h2 {
  color: $white;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
button {
  outline: none;
  border: none;
  border-radius: 4px;
}
/*
  Header component
*/
.header {
  background-color: $dark-grey;
  padding: 1rem 0;
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .header__title {
    color: $white;
    margin: 0;
  }
  .header__btn {
    padding: .8rem 1.2rem;
    color: $white;
    background: linear-gradient(135deg, #9785E0, #85A9E0);;
  }
}
/*
  Main component
*/
.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 3rem 1rem;
  max-width: 1140px;
  margin: 0 auto;
}
/*
  Form component
*/
.form {
  display: flex;
  flex-direction: column;
}
.form__input {
  padding: 1rem;
  margin-bottom: 1rem;
  color: $white;
  border-radius: 10px;
  border: none;
  background-color: $dark-grey;
  font-size: 1rem;
  outline: none;
  &::placeholder {
    font-size: 1rem;
    color: $grey;
  }
}
.form__error {
  border: 1px solid $error;
}
.form__btn {
  padding: 1.1rem;
  border-radius: 10px;
  color: $dark-grey;
  background-color: $white;
  margin-bottom: 1rem;
  outline: none;
  font-weight: 700;
  &:focus { 
    outline: none;
  }
  &:hover {
    background: linear-gradient(135deg, #9785E0, #85A9E0);
    color: $white;
  }
}
.form__errorMessage {
  color: $white;
  text-align: center;
  padding: 1rem;
  background-color: $error;
  margin-bottom: 1rem;
  border-radius: 10px;
}
/*
  Task Component
*/
.taskList {
  display: flex;
  flex-direction: column;
}
.listItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: $white;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: left;
  background-color: $dark-grey;
  align-items: center;
  width: 100%;
  order: 1;
  cursor: pointer;
}
.listItem__details {
  padding: .5rem 0;
  display: flex;
  align-items: center;
}
.listItem__btn {
  padding: .7rem 1rem;
  color: $white;
  background-color: $black;
  border-radius: 10px;
  outline: none;
  font-weight: 700;
}
.listItem__btn:hover {
  background-color: $error;
}
p.listItem__tag {
  justify-self: center;
  padding: .5rem 1rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
  color: $white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: .9rem;
}
.listItem h3 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.listItem.done {
  order: 2;
}
/*
  Footer Component
*/
.footer {
  text-align: center;
  background-color: $dark-grey;
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 2fr;
  }
  form {
    box-shadow: none;
    margin: 0;
    padding: 1rem 0;
  }
}
