.toggle-switch {
  position: relative;
  width: 71px;
  display: inline-block;
  text-align: left;
  padding: 0;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  &:before,
  &:after {
    display: block;
    float: left;
    width: 50%;
    height: 1.9rem;
    padding: 0;
    line-height: 2rem;
    font-size: 1.6rem;
    color: white;
  }
  &:before {
    content: "🌜";
    text-transform: uppercase;
    padding-left: .3rem;
    background-color: rgb(161, 161, 161);
    color: #fff;
  }
}
.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
  &:before {
    background-color: #ddd;
    cursor: not-allowed;
  }
}
.toggle-switch-inner:after {
  content: "🌞";
  text-transform: uppercase;
  padding-right: .2rem;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 25px;
  margin: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label {
  .toggle-switch-inner {
    margin-left: 0;
  }
  .toggle-switch-switch {
    right: 0px;
  }
}